################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrustBaseWin/PolicyEngine/storedCerts.bin
/TrustBaseInstaller/May_11th_Snapshot
/TrustBaseInstaller/Extras